<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>My Test App</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-collapse" role="navigation">
	<ul class="nav navbar-nav">
	  <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
	  <li><a href="/weather">Weather</a></li>
	  <!-- <li><a href="/contact">Contact us</a></li>-->
	</ul>
      </nav>
    </div>

    <div class="container-fluid">
      Enter your favourite quotes!
      <p>
	<form action="/quotes" method="POST" class="form-inline">
	  <div class="form-group">
	    <input type="text" placeholder="name" name="name" class="form-control">
	  </div>
	  <div class="form-group">
	    <input type="text" placeholder="quote" name="quote" class="form-control">
	  </div>
	  <button type="submit" class="btn btn-info">Submit</button>
	</form>
      </p>

      <table class="table">
	<thead class="thead-default">
	  <tr>
	    <th>Name</th>
	    <th>Quotes</th>
	  </tr>
	</thead>
	<tbody>
	  <% for(var i=0; i<quotes.length; i++) {%>
	     <tr>
	       <td><%= quotes[i].name %></td>
	       <td><%= quotes[i].quote %></td>
	     </tr>
	</tbody>
	<% } %>
      </table>
    </div>
  </body>
</html>
