<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>My Test App</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-collapse" role="navigation">
	<ul class="nav navbar-nav">
	  <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
	  <li><a href="/weather">Weather</a></li>
	  <!-- <li><a href="/contact">Contact us</a></li>-->
	</ul>
      </nav>
    </div>

    <div class="container-fluid">
      <%= body %>
      <p></p>
      --------------------------------
      <br>
      ---------------------------------
      <br>
    </div>
  </body>
</html>
